
button{
    background: #000000;
    color: #fff;
    margin: 10px;
    padding: 11px;
    border-radius: 10px;
}

form{
    display: block;
}

h3 {
    margin: 20px;
    color: blue;
}

input {
    display: block;
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
}